.translator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0px;

	.subheadline {
		font-size: 2em;
		max-width: 600px;
		line-height: 1.5;
		text-align: center;
		margin: 50px 0px;
	}
	
	.cocoen {
		width: 50%;
	}
}