/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */
@import "header";
@import "travel";
@import "hero";
@import "info";
@import "parallex";
@import "translator";
@import "cocoen";	//plugin
@import "footer";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #C8E2EF;
	color: #261923;
	font-family: 'Open Sans', sans-serif;
}





























