/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #C8E2EF;
	color: #261923;
	font-family: 'Open Sans', sans-serif;
}

// .page-wrap {
// 	margin: 10px;
// }

.header__navbar,
.footer__navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #1E222E;
	// background: blue;
	height: 50px;
	padding: 25px;
	border-bottom: 5px solid #692436;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

	.navbar__logo {
		background-image: url(../img/logo.png);
		width: 50%;
		height: 50%;
	}

	.navbar__items {
		text-decoration: none;
		color: #EEF7FC;
		width: 100%;
		transition: 0.3s ease;
		  // background: #3fa46a;
		  font-size: 20px;
		  border-top: 2px solid transparent;
		  border-bottom: 2px solid transparent;
		  padding: 30px 0;
		  margin: 0 20px;
	}

	.navbar__items:hover {
	  border-top: 2px solid #ffffff;
	  border-bottom: 2px solid #ffffff;
	  padding: 3px 0; 
	}
	
	
}

.headline {
	position: absolute;
	font-size: 3em;
	color: #EEF7FC;
    top: 15%;
    left: 5%;
    border-bottom: 5px solid #692436;
}

.hero {
	width: 100%;
	height: 600px;
	// border: 2px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 80px 0px;

	// background-image: url(../img/main-img.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
	// opacity: .6;


	.hero__headline {

		font-size: 2em;
		margin-bottom: 50px;
		text-align: center;

	}

	.hero__product {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero__product img {
		width: 100px;
	}

	.hero__paragraph {
		max-width: 600px;
		text-align: center;
		margin-top: 50px;
		font-weight: 300;
		line-height: 1.5;
	}
}

.info {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;



	& h3 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	& p {
		font-weight: 300;
		max-width: 600px;
		line-height: 1.5;
		font-size: 1.1em;

	}
}

.main,
.travel {
	width: 100%;
	// height: 600px;
	// border: 2px solid blue;

	.main__img {
		width: 100%;
	}
}


